# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
Thumbs.db

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
out/

# VS Code
# .vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Coverage
coverage/

# Android
/android/app/debug
/android/app/profile
/android/app/release
*.apk
*.aab
*.dex
*.jar
*.so
local.properties
*.keystore
!debug.keystore

# iOS/macOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/macos/Flutter/ephemeral/
*.xcuserdata
*.xcworkspace
!default.xcworkspace

# Environment / secrets
.env
.env.*
!.env.example
